@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: #fdf0e9;
  padding: 141px 134px 128px 135px;
}

.container h1 {
  margin-bottom: 17px;
  color: var(--text-dark-accent, #ef6d58);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.container h2 {
  margin-bottom: 35px;
  width: 336px;
  color: var(--text-dark, #391400);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
}

.container ul {
  list-style-type: none;
  display: flex;
}

.container ul li {
  padding: 48px 48px 52px 48px;
  width: 391px;
  height: 400px;
  border-radius: 6px 0px 0px 6px;
  border: 1px solid #f3d1bf;
}
.container ul li .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ef6c57;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container ul li img {
  width: 32px;
  height: 32px;
}

.container ul li h3 {
  margin-top: 43px;
  /* width: 83px; */
  color: var(--text-dark, #391400);
  font-feature-settings: "clig" off, "liga" off;

  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.container ul li h4 {
  margin-top: 19px;
  /* width: 294px; */
  color: var(--text-dark-gray, rgba(57, 20, 0, 0.64));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.container ul li h5 {
  margin-top: 52px;
  /* width: 89px; */
  color: var(--text-dark, #391400);
  font-feature-settings: "clig" off, "liga" off;

  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

